@media (max-width: 767px) {
    .main-container {
      padding: 0.6rem;
    }
  
    .product-row {
      flex-direction: column;
    }
  }
  @media (max-width: 767px) {
    nav {
      flex-direction: column;
      text-align: center;
    }
  
    .box, .box2 {
      width: 100%;
    }
  
    ul {
      flex-direction: column;
    }
  }
  @media (min-width: 1699px) {
    .product-row {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      padding-top: 1rem;
      grid-template-rows: auto;
      grid-template-columns: 100%;
        }
      }
 